
/*.nav-link {*/
/*    position: relative;*/
/*    padding: 5px 10px;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.nav-link::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    background-color: white;*/
/*    transition: width 0.3s ease;*/
/*}*/

/*.nav-link:hover::after {*/
/*    width: 100%;*/
/*}*/
/*.nav-link.active {*/
/*    border-bottom: 2px solid white;*/
/*}*/
.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}
.navbar-nav .dropdown:hover>.dropdown-toggle::after {
    transform: rotate(90deg);
}