<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ALL Books</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/allbook.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<div th:insert="~{fragments/test :: top-bar}"></div>
<div th:insert="~{fragments/test :: nav-bar}"></div>
<div class="message" role="alert">

    <div th:if="${updateBookFailed}" class="responseMessage" style="background-color: #d75565;margin: 50px 20px;padding: 10px; text-align: center;">
        <strong>BOOK UPDATE FAILED</strong>
    </div>
    <div th:if="${updateBookSuccess}" class="responseMessage" style="background-color: #80d77c;margin: 50px 20px;padding: 10px; text-align: center;">
        <strong>BOOK UPDATED SUCCESSFULLY</strong>
    </div>
    <div th:if="${deleteteBookFailed}" class="responseMessage" style="background-color: #d75565;margin: 50px 20px;padding: 10px; text-align: center;">
        <strong>BOOK DELETE FAILED</strong>
    </div>
    <div th:if="${deleteBookSuccess}" class="responseMessage" style="background-color: #80d77c;margin: 50px 20px;padding: 10px; text-align: center; color: red">
        <strong>BOOK DELETED SUCCESSFULLY</strong>
    </div>
</div>

<div class="addBook">
    <a href="#" th:href="@{/home/addBook}" class="add-button">Add Book</a>
</div>
<div class="allbook m-5">
    <table class="table table-success table-striped">
        <thead>
        <th>SN</th>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>PublishedDate</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr th:each="book, index : ${books}" }>
            <td th:text="${index.index + 1}"></td>
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.quantity}"></td>
            <td th:text="${book.publishedDate}"></td>
            <td>
                <a th:href="@{/home/updateBook/{id}(id=${book.id})}" class="edit-button">EDIT</a>
                <a th:href="@{/home/deleteBook/{id}(id=${book.id})}" class="delete-button">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/home/allBook(page=${1}, size=${pageSize})}"
                   title="First Page">&lt;&lt;</a>
            </li>

            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/home/allBook(page=${currentPage > 1 ? currentPage - 1 : 1}, size=${pageSize})}"
                   title="Previous Page">Prev</a>
            </li>

            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>

            <li th:each="page : ${#numbers.sequence(currentPage > 1 ? currentPage - 1 : 1, currentPage + 1 < totalPages ? currentPage + 1 : totalPages)}"
                class="page-item" th:classappend="${page == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/home/allBook(page=${page}, size=${pageSize})}" th:text="${page}"
                   title="Page [[${page}]]"></a>
            </li>

            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>

            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/home/allBook(page=${currentPage + 1}, size=${pageSize})}"
                   title="Next Page">Next</a>
            </li>

            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/home/allBook(page=${totalPages}, size=${pageSize})}" title="Last Page">&gt;&gt;</a>
            </li>
        </ul>
    </nav>

</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>