<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments/test :: top-bar}"></div>
<div th:insert="~{fragments/test :: nav-bar}"></div>
<div class="viewhistory m-5">
<table class="table table-hover">
    <thead>
    <th>Time</th>
    <th>User</th>
    <th>Book Title</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr th:each="bookLog: ${logList}" }>
        <td th:text="${bookLog.getPerformedTime()}"></td>
        <td th:text="${bookLog.getUser()}"></td>
        <td th:text="${bookLog.getBook()}"></td>
        <td th:text="${bookLog.getAction()}"></td>
    </tr>
    </tbody>
</table>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>