<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:insert="~{fragments/test :: top-bar}"></div>
<div th:insert="~{fragments/test :: nav-bar}"></div>
<div class="order-place">
    <form id="orderForm" th:action="@{/home/order}" onclick="return validateOrder()">

        <div>
            <label for="book1">Book Title:</label>
            <input type="text" id="book1">
        </div>
        <div>
            <label for="quantity1">Book Title:</label>
            <input type="text" id="quantity1">
        </div>
        <button type="button" onclick="return addMoreInput()"></button>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>